<div class="content-section pusher-in">
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui dividing oxy header">Applicants</div>
      <table class="ui very basic structured center small aligned table">
        <thead>
          <tr>
            <th>Sl.No</th>
            <th>Empoyee ID</th>
            <th>Empoyee</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each job.bids as |bid index|}}
          <tr>
            <td>{{incrementone index}}</td>
            <td>{{bid.employee.id}}</td>
            <td>{{bid.employee.firstname}} {{bid.employee.lastname}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="eleven wide column">
      <div class="viewjob">
        <div class="ui grid">
          <div class=" sixteen wide column">
            <div class="ui dividing oxy header">Job Title: {{job.header}}</div>
          </div>
          <div class=" eight wide right aligned column">
            <div class="ui small form">

              <div class="inline field">
                <label class="l1">Job Title</label>:
                <div class="ui transparent  input">
                  {{input type="text" value=job.header  }}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Description</label>:
                <div class="ui transparent  input">
                  
                  {{textarea class="ui input" style="padding:5px;margin:0px 0px 0px 7px" rows="5" value=job.desc}}

                </div>
              </div>
              <div class="inline field">
                <label class="l1">Salary</label>:
                <div class="ui transparent input">
                  {{input type="number" value=job.salary }}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Skills Required</label>:
                <div class="ui transparent input">
                  {{input type="text"   value=job.skills}}
                </div>
              </div>

              <div class="inline field">
              </div>
            </div>

          </div>
          <div class=" eight wide right aligned column">
            <div class="ui small form">
              <div class="inline field">
                <label class="l1">No.of Vacancies</label>:
                <div class="ui  transparent input">
                  {{input type="number" value=job.nofvaccancy  }}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Location</label>:
                <div class="ui transparent input">
                  {{input type="text" value=job.location}}
                </div>
              </div>
            </div>
            <div class="ui divider">

            </div>
            <div class="ui oxy tiny blue button"   {{action "flipview"}} >Edit </div>
            <div class="ui oxy tiny red button"  {{action "deleteJob"}}>Delete</div>

          </div>

        </div>
      </div>

      <div class="editjob"   style="display:none" >

        <div class="ui grid">
          <div class=" sixteen wide column">
            <div class="ui dividing oxy header">Edit Job</div>
          </div>
          <div class=" eight wide right aligned column">
            <div class="ui small form">

              <div class="inline field">
                <label class="l1">Job Title</label>:
                <div class="ui   input">
                  {{input type="text" value=job.header}}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Description</label>:
                <div class="ui input">
                  {{input type="text" value=job.desc  }}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Salary</label>:
                <div class="ui input">
                  {{input type="number" value=job.salary}}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Skills Required</label>:
                <div class="ui  input">
                  {{input type="text"   value=job.skills}}
                </div>
              </div>

              <div class="inline field">
              </div>
            </div>

          </div>
          <div class=" eight wide right aligned column">
            <div class="ui small form">
              <div class="inline field">
                <label class="l1">No.of Vacancies</label>:
                <div class="ui   input">
                  {{input type="number" value=job.nofvaccancy}}
                </div>
              </div>
              <div class="inline field">
                <label class="l1">Location</label>:
                <div class="ui input">
                  {{input type="text" value=job.location}}
                </div>
              </div>
            </div>
            <div class="ui divider">

            </div>
            <div class="ui oxy tiny blue button {{isSaveButtonDisabled}} "  {{action "saveJob"}}>Save</div>
            <div class="ui oxy tiny  button"  {{action "flipview"}} >Cancel</div>

          </div>

        </div>
      </div>
      <div class="">

      </div>
    </div>
  </div>
</div>
{{outlet}}
