
<div class="content-section pusher-in">
  <div class="ui basic segment  form bgw ">
    <div class="ui left floated header oxy">
        Attendance History
      </div>
{{#link-to 'dashboard.attendance'}}

<div class="ui mini right floated green  button oxy">Back</div>
{{/link-to}}
<div class="clearfix mtop">

</div>
<div class="ui  grid mtop-sm">



    <table class="ui  structured center aligned table widthfix">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Total</th>
          <th>Leave</th>
          <th>Present</th>
          <th>Month</th>
        </tr>
      </thead>
      <tbody>
        {{#each employee.attendances as |attendance index|}}
        <tr>
          <td>{{incrementone index}}</td>
          <td>{{employee.firstname}} {{employee.lastname}}</td>
          <td>{{attendance.totaldays}}</td>
          <td>{{attendance.leavedays}}</td>
          <td>{{attendance.presentdays}}</td>
          <td>{{moment-format attendance.updatedat outputFormat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>
</div>

</div>
