
<div class="pusher-in">
  <div class="ui top fixed menu tf-head">
  <div class="ui header h-item" {{action "getcurrentpath"}}>
    Leave Management
  </div>
</div>
</div>

<div class="content-section pusher-in">
<div class="ui top attached tabular  menu">
  <a class="active item" data-tab="first"> Events</a>
  <a class="item" data-tab="second">Pending Leaves</a>
  <a class="item" data-tab="third">Approved Leaves</a>
  <a class="item" data-tab="fourth">Rejected</a>
</div>
  <div class="ui bottom attached active tab segment " data-tab="first">

  {{as-calendar
    title="Events Calendar"
    occurrences=occurrences
    defaultTimeZoneQuery="New York|London|Dubai|Hong Kong"
    dayStartingTime="00:00"
    dayEndingTime="24:00"
    timeSlotDuration="00:30"
    onAddOccurrence=(action "calendarAddOccurrence")
    onUpdateOccurrence=(action "calendarUpdateOccurrence")
    onRemoveOccurrence=(action "calendarRemoveOccurrence")}}




</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Employee Name</th>
    <th>From date</th>
    <th>To Date</th>
    <th>Status</th>
    <th></th>
  </tr></thead>
  <tbody>

    {{#each pendingLeaves as |pendingleave index|}}
    <tr>
      <td>{{incrementone index}}</td>
      <td>{{pendingleave.employee.firstname}}</td>
      <td>{{ moment-format pendingleave.fromdate inputFormat}}</td>
      <td>{{ moment-format pendingleave.todate inputFormat}}</td>
      {{#if (eq pendingleave.editleave false)}}
      <td style="text-transform:capitalize" >{{pendingleave.status}}</td>
      <td><button {{action "editLeave" pendingleave}}>edit</button></td>
      {{else}}

        <td>
      <select onchange={{action "selectStatus"    value="target.value"}} class="form-control">
        {{#each statuses as |statusChoice|}}

        <option value={{statusChoice}} selected={{eq pendingleave.status statusChoice}}>{{statusChoice}}</option>
        {{/each}}
      </select>


    </td>
    <td><button {{action "saveLeave" pendingleave}}>Save</button></td>
      {{/if}}
    </tr>
    {{/each }}

  </tbody>

</table>
</div>


<div class="ui bottom attached tab segment" data-tab="third">

  <table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Employee Name</th>
    <th>From date</th>
    <th>To Date</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

    {{#each approvedLeaves as |approvedleave index|}}
    <tr>
      <td>{{approvedleave.id}}</td>
      <td>{{approvedleave.employee.firstname}}</td>
      <td>{{ moment-format approvedleave.fromdate inputFormat}}</td>
      <td>{{ moment-format approvedleave.todate inputFormat}}</td>
      <td style="text-transform:capitalize" >{{approvedleave.status}}</td>
    </tr>
    {{/each }}

  </tbody>

</table>

</div>

<div class="ui bottom attached tab segment" data-tab="fourth">

  <table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Employee Name</th>
    <th>From date</th>
    <th>To Date</th>
    <th>Status</th>
  </tr></thead>
  <tbody>
    {{#each rejectedLeaves as |rejectedleave index|}}
    <tr>
      <td>{{incrementone index}}</td>
      <td>{{rejectedleave.employee.firstname}}</td>
      <td>{{ moment-format rejectedleave.fromdate inputFormat}}</td>
      <td>{{ moment-format rejectedleave.todate inputFormat}}</td>
      <td style="text-transform:capitalize" >{{rejectedleave.status}}</td>
    </tr>
    {{/each }}
  </tbody>
</table>

</div>
</div>



{{initialize-semanticuitabs}}





<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">

    {{input type="text" value=neweventtitle}}
    <div class="ui approve button">Create</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>
