<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Pending Leaves</a>
  <a class="item" data-tab="second">Approved Leaves</a>
  <a class="item" data-tab="third">Rejected Leave</a>
  <a class="item" data-tab="fourth">New Leave</a>

</div>
<div class="ui bottom attached active tab segment" data-tab="first">


  <table class="ui celled table">
  <thead>
    <tr><th>ID</th>
    <th>From date</th>
    <th>To Date</th>
    <th>Status</th>
  </tr></thead>
  <tbody>

    {{#each pendingleaves as |pendingleave index|}}
    <tr>
      <td>{{pendingleave.id}}</td>
      <td>{{ moment-format   pendingleave.fromdate inputFormat}}</td>
      <td>{{moment-format   pendingleave.todate inputFormat}}</td>
      <td style="text-transform:capitalize">{{pendingleave.status}}</td>
    </tr>
    {{/each }}

  </tbody>

</table>


</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <table class="ui celled table">
  <thead>
    <tr><th>ID</th>
    <th>From date</th>
    <th>To Date</th>
    <th>Status</th>
  </tr></thead>
  <tbody>

    {{#each approvedleaves as |approvedleave index|}}
    <tr>
      <td>{{approvedleave.id}}</td>
      <td>{{ moment-format approvedleave.fromdate inputFormat}}</td>
      <td>{{ moment-format approvedleave.todate inputFormat}}</td>
      <td style="text-transform:capitalize" >{{approvedleave.status}}</td>
    </tr>
    {{/each }}

  </tbody>

</table>
</div>




<div class="ui bottom attached tab segment" data-tab="third">
  <table class="ui celled table">
  <thead>
    <tr><th>ID</th>
    <th>From date</th>
    <th>To Date</th>
    <th>Status</th>
  </tr></thead>
  <tbody>

    {{#each rejectedLeaves as |rejectedleave index|}}
    <tr>
      <td>{{rejectedleave.id}}</td>
      <td>{{ moment-format rejectedleave.fromdate inputFormat}}</td>
      <td>{{ moment-format rejectedleave.todate inputFormat}}</td>
      <td style="text-transform:capitalize" >{{rejectedleave.status}}</td>
    </tr>
    {{/each }}

  </tbody>

</table>
</div>

<div class="ui bottom attached tab segment" data-tab="fourth">

  <form class="ui form">
    <div class="field">
      <label>From date</label>
      {{pikaday-input  placeholder="From" value=fromdate}}
    </div>
    <div class="field">
      <label>To date</label>
      {{pikaday-input  placeholder="To" value=todate}}
    </div>
    <div class="field">
      <label>Comments</label>
      {{input type="text" value=comments}}
    </div>
    <button class="ui button" type="button" {{action "createLeaveRoll"}}>Apply</button>
  </form>

</div>







{{initialize-semanticuitabs}}
