

<div class="ui basic segment">
  <div class="ui huge  header oxy center aligned">
    Human Resource Management
  </div>

</div>
{{outlet}}

<div id="calendar" style="width:30%;height:300px;">
    {{show-calendario}}
</div>
<br><br><br>




<button class="massive ui button">
  Pending Leaves {{leaverolls.pendingLeaves.length}}
</button>


<br>


<button class="massive ui button">
Job Applications {{bids.length}}
</button>



<br>

<div>
<h3> Thought of the day </h3>


{{quote.quote}} - <b> {{quote.author}} </b>

</div>




<div>





<div class="ui small feed">
  <h4 class="ui header">Recent Leave Applications</h4>
  {{#each leaverolls.pendingLeaves  as |pendingLeave|}}
    <div class="event">
    <div class="content">
      <div class="summary">
         {{pendingLeave.user.firstname}} applied for Leave  from {{moment-format pendingLeave.fromdate outputFormat}}  to {{moment-format pendingLeave.todate outputFormat}}
      </div>
    </div>
  </div>
    {{/each}}
</div>





<div class="ui small feed">
  <h4 class="ui header">Recent Job Applications</h4>
  {{#each bids as |bid|}}
  <div class="event">
    <div class="content">
      <div class="summary">
         {{bid.user.firstname}} applied for {{bid.job.header}}
      </div>
    </div>
  </div>
  {{/each}}
</div>


</div>
