
<div class="content-section pusher-in">
<div class="ui grid  form">

  <div class="twelve wide  column">
    <form class="ui mini form">
      <h4 class="ui dividing header">Personal Information</h4>
      <div class="field">

        <div class="two fields">
          <div class="field">
            <label>Name</label>
            {{input type="text" placeholder="First Name" value=firstname}}
          </div>
          <div class="field">
            <label>Middle Name</label>
            {{input type="text" placeholder="Middle Name" value=middlename}}
          </div>
          <div class="field">
            <label>Last Name</label>
            {{input type="text" placeholder="Last Name" value=lastname}}
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          {{input type="email" placeholder="email" value=email}}
        </div>
        <div class="field">
          <label>Contact</label>
          {{input type="text" placeholder="Contact" value=contact}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Designation</label>
          <select onchange={{action "selectDesignation" value="target.value"}} class="form-control">
                {{#each designations as |designationChoice|}}
                <option value={{designationChoice}}>{{designationChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Date of Joining</label>
          {{pikaday-input  placeholder="Date of join" value=dateofjoin}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Department</label>
          <select onchange={{action "selectDepartment" value="target.value"}} class="form-control">
                {{#each departments as |departmentChoice|}}
                <option value={{departmentChoice}} >{{departmentChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Location</label>
          {{input type="text" placeholder="Location" value=location}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Gender</label>
          <select onchange={{action "selectGender" value="target.value"}} class="form-control">
                {{#each genders as |genderChoice|}}
                <option value={{genderChoice}} >{{genderChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Maritial Status</label>
          <select onchange={{action "selectMatitial" value="target.value"}} class="form-control">
                {{#each maritials as |maritialChoice|}}
                <option value={{maritialChoice}}>{{maritialChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Date of Birth</label>
          {{pikaday-input  placeholder="D.O.B" value=dob}}
        </div>
      </div>


      <h4 class="ui dividing header">Address</h4>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <label>Temporary Address</label>
            {{textarea value=temporaryaddress cols="80" rows="6"}}

          </div>
          <div class="four wide field">
            <label>Permanent Address</label>
            {{textarea value=permenantaddress cols="80" rows="6"}}
          </div>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        {{input type="text" placeholder="Password" value=pass}}
      </div>
      <div class="field">
        <label>User Role</label>
        <select onchange={{action "selectRole" value="target.value"}} class="form-control">
              {{#each roles as |roleChoice|}}
              <option value={{roleChoice}}>{{roleChoice}}</option>
              {{/each}}
            </select>
      </div>


<div class="ui divider"></div>

      <div class="ui button {{isSaveDisabled}}" tabindex="0" {{action "createEmployee"}}>Save</div>
    </form>
  </div>



    {{#if imageUploading }}
      <img src="/images/load.gif" style="margin-top:10px;padding-left:35px">
    <br>
    Uploading image
    {{else}}
    {{/if}}

{{#if (eq isImageuploadingvisible true)}}
  <div class="four wide column">
    <div class="ui card br0">

{{#if employee.thumburl}}

        {{#light-box href=employee.fullurl data-lightbox="cats-group" inlineImage=false}}
        <div class="image">
        <img src="{{employee.thumburl}}">
      </div>
        {{/light-box}}
        {{else}}
        <div class="no-image">
          <img>
        </div>
        {{/if}}

      <div class="content">
        Profile Picture
        <span class="right floated">
          {{file-upload    on-upload=(action "uploadProfilePic")}}
        </span>
      </div>

    </div>
  </div>
  {{/if}}


</div>
</div>

{{outlet}}
