
<div class=" pusher-in">
  <div class="ui top fixed menu tf-head">
  <div class="ui header h-item" >
    Employee Management
  </div>
</div>

<div class="content-section pusher-in">
  <div class="ui grid  form">
    <div class="twelve wide  column">
    <form class="ui mini form">
      <h4 class="ui dividing header oxy">Add New Employee</h4>
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>Name</label>
            {{input type="text" placeholder="First Name" value=firstname class="firstname"}}
          </div>
          <div class="field">
            <label>Middle Name</label>
            {{input type="text" placeholder="Middle Name" value=middlename class="middlename"}}
          </div>
          <div class="field">
            <label>Last Name</label>
            {{input type="text" placeholder="Last Name" value=lastname class="lastname"}}
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          {{input type="email" placeholder="email" value=email class="email"}}
        </div>
        <div class="field">
          <label>Contact</label>
          {{input type="text" placeholder="Contact" value=contact class="contact"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Designation</label>
          <select onchange={{action "selectDesignation" value="target.value"}} class="form-control selectdesignation">
                {{#each designations as |designationChoice|}}
                <option value={{designationChoice}}>{{designationChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Date of Joining</label>
          {{pikaday-input  placeholder="Date of join" value=dateofjoin}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Department</label>
          <select onchange={{action "selectDepartment" value="target.value"}} class="form-control selectdepartment">
                {{#each departments as |departmentChoice|}}
                <option value={{departmentChoice}} >{{departmentChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Location</label>
          {{input type="text" placeholder="Location" value=location class="location"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Gender</label>
          <select onchange={{action "selectGender" value="target.value"}} class="form-control gender">
                {{#each genders as |genderChoice|}}
                <option value={{genderChoice}} >{{genderChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Maritial Status</label>
          <select onchange={{action "selectMaritial" value="target.value"}} class="form-control selectmaritial">
                {{#each maritials as |maritialChoice|}}
                <option value={{maritialChoice}}>{{maritialChoice}}</option>
                {{/each}}
              </select>
        </div>
        <div class="field">
          <label>Date of Birth</label>
          {{pikaday-input  placeholder="D.O.B" value=dob class="dob"}}
        </div>
      </div>


      <h4 class="ui dividing header">Address</h4>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <label>Temporary Address</label>
            {{textarea value=temporaryaddress cols="80" rows="6" class="tempaddress"}}
          </div>
          <div class="four wide field">
            <label>Permanent Address</label>
            {{textarea value=permenantaddress cols="80" rows="6" class="permaddress"}}
          </div>
        </div>
      </div>




      <div class="two fields">
        <div class="field">
          <label>End of QID</label>
          {{pikaday-input type="text" placeholder="End of QID" value=endqid}}
        </div>

        <div class="field">
          <label>End of Contract</label>
          {{pikaday-input type="text" placeholder="End of Contract" value=endcontract}}
        </div>
      </div>


      <div class="two fields">
        <div class="field">
          <label>Passport No.</label>
          {{input type="text" placeholder="Passport No." value=passportno}}

        </div>

        <div class="field">
          <label>Password</label>
          {{input type="text" placeholder="Password" value=pass}}
        </div>

      </div>





<div class="ui divider"></div>
      <div class="ui blue basic small oxy button  createEmployeeButton {{isSaveDisabled}}"   tabindex="0" {{action "createEmployee"}}>Save</div>
    </form>
  </div>



    {{#if imageUploading }}
      <img src="/images/load.gif" style="margin-top:10px;padding-left:35px">
    <br>
    Uploading image
    {{else}}
    {{/if}}

{{#if (eq isImageuploadingvisible true)}}
  <div class="four wide column">
    <div class="ui card br0">

{{#if employee.thumburl}}

        {{#light-box href=employee.fullurl data-lightbox="cats-group" inlineImage=false}}
        <div class="image">
        <img src="{{employee.thumburl}}">
      </div>
        {{/light-box}}
        {{else}}
        <div class="no-image">
          <img>
        </div>
        {{/if}}

      <div class="content">
        Profile Picture
        <span class="right floated">
          {{file-upload    on-upload=(action "uploadProfilePic")}}
        </span>
      </div>

    </div>
  </div>
  {{/if}}
</div>
</div>
</div>

{{outlet}}
