<div class="content-section pusher-in">
  <div class="ui  fluid tabular menu  oxy">
    <a class="item active" data-tab="first">All Openings</a>
    <a class="item" data-tab="second">Add New Job </a>

  </div>
  <div class="ui active tab basic segment " data-tab="first">

  <div class="ui grid">
    <div class=" sixteen wide column">

      <table class="ui very basic structured center aligned table">

        <thead>
          <tr>
            <th>Sl.No</th>
            <th>Job Title </th>
            <th>Vacancies</th>
            <th>Applications</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          {{#each jobs as |job index|}}
          <tr>
            <td>{{incrementone index}}</td>
            <td>{{job.header}}</td>
            <td>{{job.nofvaccancy}}</td>
            <td>{{job.location}}</td>
            <td>
              {{#link-to 'dashboard.recruit-mgt.job.view' job  class="ui oxy tiny blue button"}}Open {{/link-to}}
            </td>
          </tr>
      {{/each}}

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="ui  tab basic segment " data-tab="second">
  <div class="ui grid">
    <div class=" sixteen wide column">
    <div class="ui dividing oxy header"> Add New Job</div>
    </div>
    <div class=" six wide right aligned column">
      <div class="ui small form">

      <div class="inline field">
        <label class="l1">Job Title</label>:
        <div class="ui   input">
          {{input type="text"  value=header }}
        </div>
      </div>

      <div class="inline field">
        <div class=""style="width:50%;float:right" >
          <textarea style="padding:5px;margin:0px 0px 0px 7px" rows="5"></textarea>
        </div>
        <label class="l1" style="width:45%;float:right">Description :</label>


        </div>
      </div>
      <div class="inline field">
      </div>
    </div>

    <div class=" six wide right aligned column">
      <div class="ui small form">
        <div class="inline field">
          <label class="l1">Salary</label>:
          <div class="ui input">
            {{input type="number" value=salary  }}
          </div>
        </div>

      <div class="inline field">
        <label class="l1">No.of Vacancies</label>:
        <div class="ui   input">
          {{input type="number" value=nofvaccancy  }}
        </div>
      </div>
      <div class="inline field">
        <label class="l1">Location</label>:
        <div class="ui input">
          {{input type="text"  value=location }}
        </div>
      </div>
    </div>
    <div class="ui divider">

    </div>
    <div class="ui oxy tiny blue button" {{action "createJob"}}>Save </div>
    <div class="ui oxy tiny  button">Cancel</div>

    </div>
    <div class=" four wide right aligned column">
    </div>

    </div>
  </div>
</div>
{{initialize-semanticuitabs}}

{{outlet}}
