<div class="ui modal modal_{{employee.id}}">
  <i class="close icon"></i>
  <div class="header">
    Attendance History
  </div>
  <div class="image content">
    <table class="ui very basic structured center aligned table widthfix">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Total</th>
          <th>Leave</th>
          <th>Present</th>
          <th>Month</th>
        </tr>
      </thead>
      <tbody>
        {{#each employee.attendances as |attendance index|}}
        <tr>
          <td>{{incrementone index}}</td>
          <td>{{employee.firstname}} {{employee.lastname}}</td>
          <td>{{attendance.totaldays}}</td>
          <td>{{attendance.leavedays}}</td>
          <td>{{attendance.presentdays}}</td>
          <td>{{moment-format attendance.updatedat outputFormat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
