


<div class="ui top attached menu br0 mt0">
  <div class="item" style="padding:8px 5px">
    <img src="/images/hr-logo.png" style="width:5em">
  </div>
  <button class="ui mini right floated button br0" {{action "logout"}}>Log Out</button>
</div>

<div class="ui bottom attached segment mb0" >
<div class="ui grid">
<div class="four wide column">
<div class="ui card br0 w100 mb0" >
  <div class="image">
    <img src="/images/matthew.png" class="br0" >
  </div>
  <div class="content">
    <a class="header oxy">John Doe</a>
    <div class="description">
      Designer
    </div>
  </div>

</div>
<div class="ui vertical fluid tabular menu  oxy">
  <a class="item active" data-tab="first">Basic Info</a>
  <a class="item" data-tab="second">Attendance</a>
  <a class="item" data-tab="third">Salary</a>
  <a class="item" data-tab="fourth">Link</a>
</div>
</div>
<div class="twelve wide column">
  <div class="ui active tab basic segment " data-tab="first">

    <div class=" pusher-in">
    <div class="editemployee" style="display:none">
      <div class="ht-sm">
        <h4 class="ui left floated  header">Edit Employee</h4>
        <div class="ui mini right floated primary button br0 {{isSaveDisabled}}" tabindex="0" {{action "saveEmployee"}}>Save</div>
        <button class="ui mini right floated button br0" {{action "flipview"}}>Cancel</button>
      </div>

      <div class="ui grid">
      <div class="twelve wide  column">

        <form class="ui small form">
          <h4 class="ui dividing header">Personal Information</h4>
          <div class="field">
            <label>Name</label>
            <div class="two fields">
              <div class="field">
                <label>First Name</label>
                {{input type="text" placeholder="First Name" value=employee.firstname}}
              </div>
              <div class="field">
                <label>Middle Name</label>
                {{input type="text" placeholder="Middle Name" value=employee.middlename}}
              </div>
              <div class="field">
                <label>Last Name</label>
                {{input type="text" placeholder="Last Name" value=employee.lastname}}
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Email</label>
              {{input type="email" placeholder="email" value=employee.email}}
            </div>
            <div class="field">
              <label>Contact</label>
              {{input type="text" placeholder="Contact" value=employee.contact}}
            </div>
          </div>
          <div class="two fields">
            <!-- <div class="field">
              <label>Designation</label>
              <select onchange={{action "selectDesignation" value="target.value"}} class="form-control">
                    {{#each designations as |designationChoice|}}
                    <option value={{designationChoice}} selected={{eq employee.designation designationChoice}}>{{designationChoice}}</option>
                    {{/each}}
                  </select>

            </div> -->
            <div class="field">
              <label>Date of Joining</label>
              {{pikaday-input  placeholder="Date of join" value=employee.dateofjoin}}
            </div>
          </div>
          <div class="two fields">
            <!-- <div class="field">
              <label>Department</label>
              <select onchange={{action "selectDepartment" value="target.value"}} class="form-control">
                    {{#each departments as |departmentChoice|}}
                    <option value={{departmentChoice}} selected={{eq employee.department departmentChoice}}>{{departmentChoice}}</option>
                    {{/each}}
                  </select>
            </div> -->
            <div class="field">
              <label>Location</label>
              {{input type="text" placeholder="Last Name" value=employee.lastname}}
            </div>
          </div>
          <div class="two fields">
            <!-- <div class="field">
              <label>Gender</label>
              <select onchange={{action "selectGender" value="target.value"}} class="form-control">
                    {{#each genders as |genderChoice|}}
                    <option value={{genderChoice}} selected={{eq employee.gender genderChoice}}>{{genderChoice}}</option>
                    {{/each}}
                  </select>
            </div>
            <div class="field">
              <label>Maritial Status</label>
              <select onchange={{action "selectMatitial" value="target.value"}} class="form-control">
                    {{#each maritials as |maritialChoice|}}
                    <option value={{maritialChoice}} selected={{eq employee.maritialstatus maritialChoice}}>{{maritialChoice}}</option>
                    {{/each}}
                  </select>
            </div> -->
            <div class="field">
              <label>Date of Birth</label>
              {{pikaday-input  placeholder="D.O.B" value=employee.dob}}
            </div>


          </div>


          <h4 class="ui dividing header">Address</h4>
          <div class="field">
            <div class="fields">
              <div class="twelve wide field">
                <label>Temporary Address</label>
                {{textarea value=employee.temporaryaddress cols="80" rows="6"}}
              </div>
              <div class="four wide field">
                <label>Permanent Address</label>
                {{textarea value=employee.permenantaddress cols="80" rows="6"}}
              </div>
            </div>
          </div>

    <div class="ui divider"></div>

        </form>
      </div>




      <div class="four wide column">
        <div class="ui card br0">

        </div>
      </div>
    </div>

    </div>



    <div class="viewemployee" >
      <div class="ht-sm">
        <h4 class="ui left floated  header">Employee Details</h4>
        <button class="ui mini right floated primary button br0" {{action "flipview"}}>Edit</button>
      </div>
    <div class="ui grid">
      <div class="twelve wide  column">

        <form class="ui  form">
          <h4 class="ui dividing header">Personal Information</h4>
          <div class="field">
            <label>Name</label>
            <div class="two fields">
              <div class="field">
                <label>First Name</label>
                {{employee.firstname}}
              </div>
              <div class="field">
                <label>Middle Name</label>

                {{employee.middlename}}

              </div>
              <div class="field">
                <label>Last Name</label>

                {{employee.lastname}}
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Email</label>

              {{employee.email}}
            </div>
            <div class="field">
              <label>Contact</label>

              {{employee.contact}}
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Designation</label>
              {{employee.designation}}

            </div>
            <div class="field">
              <label>Date of Joining</label>
              {{ moment-format employee.dateofjoin inputFormat}}<
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Department</label>
              {{employee.department}}
            </div>
            <div class="field">
              <label>Location</label>

              {{employee.location}}
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Gender</label>
                            {{employee.gender}}
            </div>
            <div class="field">
              <label>Maritial Status</label>

                  {{employee.maritialstatus}}
            </div>
            <div class="field">
              <label>Date of Birth</label>
    {{ moment-format employee.dob inputFormat}}<

            </div>
          </div>


          <h4 class="ui dividing header">Address</h4>
          <div class="field">
            <div class="fields">
              <div class="twelve wide field">
                <label>Temporary Address</label>
                {{employee.temporaryaddress}}
              </div>
              <div class="four wide field">
                <label>Permanent Address</label>

                {{employee.permenantaddress}}
              </div>
            </div>
          </div>

    <div class="ui divider"></div>


        </form>
      </div>

      <div class="four wide column">
        <div class="ui card br0">

          {{#light-box href=employee.fullurl data-lightbox="cats-group" inlineImage=false}}
          <div class="image">
          <img src="{{employee.thumburl}}" class="pro-pic">
        </div>
          {{/light-box}}



        </div>
      </div>
    </div>
    </div>



    </div>

  </div>
  <div class="ui tab basic segment " data-tab="second">
2
  </div>
  <div class="ui tab basic segment " data-tab="third">
3
  </div>
  <div class="ui tab basic segment " data-tab="fourth">
4
  </div>

</div>
</div>
</div>

{{initialize-semanticuitabs}}
{{outlet}}
